*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#canvas1 {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient( #696969,#200406);
}

.title{
    position: absolute;
    z-index: 10;
    font-size: 1em;
    margin-top: 43vh;
    margin-left: 40vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: normal;
    animation: move 3s ease-in-out; 
    animation-fill-mode: forwards;
}

@keyframes move {
    0% {
        opacity: 100%;
      /* transform: translate(-33%, 0); */
    }
    50% {
        opacity: 50%;
    }
    100% {
        opacity: 0%;
    }
  }